<!DOCTYPE html>
<html>
  <head>
    <title>SuperMama</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../_partials/header") %>
    <h1>Sveiki atvyke, <%= loggedUser %> <%= loggedUserId%></h1>

    <script src="javascripts/main.js"></script>
  </body>
</html>
