<!DOCTYPE html>
<html>
  <head>
    <title>SuperMama</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <%- include("../_partials/header") %>
    <section class="hero">

    </section>

    <script src="javascripts/main.js"></script>
  </body>
</html>
