<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
</head>
<body>
        <%- include("../_partials/header") %>
    <form action="/login" method="POST">
        <input type="text" placeholder="Username" name="name">
        <input type="password" placeholder="password" name="psw">
        <button type="submit">Log in</button>
    </form>
    <script src="javascripts/main.js"></script>
</body>
</html>