<header>
    <div class="logo">
        <a href="/"><img src="https://www.freeiconspng.com/uploads/super-mom-mother-png-31.png" alt="logo" ></a>
    </div>
    <div class="nav">
        <nav>
            <ul>
                <% if(!loggedUser){ %>
                    <li><a class="nav-button" href="/login">Login</a></li>
                    <li><a class="nav-button" href="/register">Register</a></li>
                    <% } else { %>
                    <li><a class="nav-button" href="/logout" class="logoutButton">Logout</a></li>    
                <% } %>
                <li><a class="nav-button" href="/forum">Forum</a></li>
            </ul>
            <% if(loggedUserId){ %>
            <div class="username">       
            </div>
            <% } %>
        </nav>
    </div>
</header>